#clue {
    text-align: center;
}

#clue-title {
    text-align: center;
}

.centred-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-option-button {
    width: 75%;
    margin-bottom: 5%;
}