.section-header {
    text-align: center;
}

.guess-result {
    text-align: center;
    font-weight: bolder;
}

#guess-result-correct {
    color: darkgreen;
}

#guess-result-wrong {
    color: darkred;
}

#next-clue-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#film-poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#film-overview {
    text-align: center;
}