.guess-result {
    text-align: center;
}

#next-clue-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#film-poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#film-overview {
    text-align: center;
}